<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Portal</title>
    <link rel="stylesheet" href="css/index.css" />
    <script defer src="http://localhost:3005/socket.io/socket.io.js"></script>
    <script defer src="js/index.js"></script>
</head>

<body>
    <div class="container">
    <h1>Sten, Saks, Papir MultiPlayer</h1>
        <button onclick="createRoom()">Opret Rum</button>
        <button onclick="joinRoom()">Join Rum</button>
        <input type="text" id="roomIdInput" placeholder="Indtast Rum ID">
        <br>
        <br>
        <h4>Created by: Daniel Sønderup</h4>
    </div>
</body>

</html>